<section class="admin-client-earners-section-1">
    <div class="client-earners-section-heading center-align">
        <h3 class="client-h3">Clients Messages</h3>
        <h4>welcome Admin</h4>
        <p>here are the clients messages...</p>
    </div>

    <% if (clients.length > 0) { %>
    <div class="admin-container">
        <table class="table striped">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>date</th>
                    <th>Name</th>
                    <th>Message</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% clients.forEach(function(client, index){ %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= client.createdAt  %></td>
                    <td><%= client.clientName %></td>
                    <td><%= client.message %></td>
                    <td class="t-icon-flex">
                        <a href="/deleteClient/<%= client._id %>" class="delete-client"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <% } else { %>
    <p class="center-align"> sorry developer, you have no messages from Clients... </p>
    <% } %>


</section>