<!-- <div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>S/N</th>
                <th>date</th>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% clients.forEach(function(client, index){ %>

            <tr>
                <td><%= index + 1 %></td>
                <td><%= client.createdAt %></td>
                <td><%= client.name %></td>
                <td><%= client.email %></td>
                <td><%= client.Message %></td>
                <td class="t-icon-flex">
                    <a href="/deleteClient/<%= client._id %>" class="delete-client"><i class="fa fa-trash fa-lg"
                            aria-hidden="true"></i></a>
                </td>
            </tr>

            <% }) %>
        </tbody>
    </table>
</div> -->