<section class="admin-container admin-client-earners-section-1">
    <div class="client-earners-section-heading center-align">
        <h3 class="client-h3">Clients Messages</h3>
        <h4>welcome Admin</h4>
        <p>here are the clients messages...</p>
    </div>

    <% if (clients.length > 0) { %>
    <div class="">
        <table class="table striped">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>date</th>
                    <th>Name</th>
                    <th>Message</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% clients.forEach(function(client, index){ %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= client.createdAt %></td>
                    <td><%= client.clientName %></td>
                    <td class="pointer">
                        <button data-target="modal1" class="modal-trigger">
                            <a href="/developer/messages/clients/<%=client._id%>"
                                class="open-message"><%= client.message.substring(0, 70) + " ..." %></a>
                            <!-- .substring(0, 70) + " ..." -->
                        </button>
                    </td>
                    <td class="pointer t-icon-flex">
                        <a href="/developer/messages/clients/deleteClient/<%= client._id %>"
                            onclick="return confirm('are u sure to delete this client?');" ass="delete-client"><i
                                class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>


        <% if (typeof client != "undefined" ? client : "") { %>
        <!-- single client message modal -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="first-row">
                    <h4 class="name"><%= client.name %></h4>
                    <h4 class="date"><%= client.createdAt %></h4>
                </div>
                <div class="second-row">
                    <h4 class="email"><%= client.clientEmail %></h4>
                </div>
                <div class="third-row">
                    <p class="message"><%= client.message %></p>
                </div>
            </div>
        </div>
        <% } %>

    </div>
    <% } else { %>
    <p class="center-align"> sorry developer, you have no messages from Clients... </p>
    <br>
    
    <% } %>

        
    <a style="float: right; margin-top: 5rem;" href="/developer/messages/clients"><button class="client-earner-button">Earners Message</button></a>

</section>