<section class="admin-client-earners-section-1">
    <div class="client-earners-section-heading center-align">
        <h3 class="client-h3">earners Messages</h3>
        <h4>welcome Admin</h4>
        <p>here are the earners messages...</p>
    </div>

    <% if (earners.length > 0) { %>
    <div class="admin-container">
        <table class="table striped">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>date</th>
                    <th>Name</th>
                    <th>Message</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% earners.forEach(function(earner, index){ %>

                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= earner.createdAt %></td>
                    <td><%= earner.earnerName %></td>
                    <td class="pointer">
                        <button data-target="modal1" class="modal-trigger">
                            <a href="/developer/messages/earners/<%=earner._id%>"
                                class="open-message"><%= earner.message.substring(0, 70) + " ..." %></a>
                            <!-- .substring(0, 70) + " ..." -->
                        </button>
                    </td>
                    <td class="pointer t-icon-flex">
                        <a href="/developer/messages/earners/deleteearner/<%= earner._id %>"
                            onclick="return confirm('are u sure to delete this earner?');" ass="delete-earner"><i
                                class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                    </td>
                </tr>

                <% }) %>
            </tbody>
        </table>

        
        <a style="float: right; margin-top: 5rem;" href="/developer/messages/clients"><button class="client-earner-button">Clients Message</button></a>

        <% if (typeof earner != "undefined" ? earner : "") { %>
        <!-- single earner message modal -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="first-row">
                    <h4 class="name"><%= earner.name %></h4>
                    <h4 class="date"><%= earner.createdAt %></h4>
                </div>
                <div class="second-row">
                    <h4 class="email"><%= earner.earnerEmail %></h4>
                </div>
                <div class="third-row">
                    <p class="message"><%= earner.message %></p>
                </div>
            </div>
        </div>
        <% } %>

    </div>
    <% } else { %>
    <p class="center-align"> sorry developer, you have no messages from earners... </p>
    <% } %>


</section>